@model GerenciadorFC.Administrativo.Web.Models.ContabilidadeViewModels.Faturamento.PessoaCodigoServicoViewModels

<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="form-group">
				<div class="col-sm-4">
					@Html.Hidden("CodigoEmissaoNota", (object)ViewData["CodigoEmissaoNota"])
					<label asp-for="CodigoServico" class="control-label">Codigo serviço</label>
					@Html.TextBoxFor(m => m.CodigoServico, new { @class = "form-control" })
					<span asp-validation-for="CodigoServico" class="text-danger"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<br />
<br />
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<div class="rodape-form">
				<input type="button" id="btnatualiza" class="btn btn-round btn-success" value="Cadastrar" onclick="PessoaCodigoServico();" />
			</div>
		</div>
	</div>
</div>
<br />
<br />


<script>


	function PessoaCodigoServico() {
		var CodigoEmissaoNota = $("#CodigoEmissaoNota").val();
		var CodigoServico = $("#CodigoServico").val();
		var model = { Codigo: 0, CodigoEmissaoNota: CodigoEmissaoNota, CodigoServico: CodigoServico, Excluido: false };

			$.ajax({
			 url: '@Url.Action("PessoaCodigoServico", "Cadastro")',
			 data: model,
			cache: false,
			type: "POST",
			dataType: "html",
			success: function (data, textStatus, XMLHttpRequest) {
				$('#PartialContainer').html(data);
			}
		});
			var pessoa = '@ViewData["pessoa"]';
			var url = "/Cadastro/Edite?pessoa=" + pessoa;
			window.location.href = url;
			$("#CodigoEmissaoNota").val('');
			$("#CodigoServico").val('');
	}

	$(document).ready(function () {
		setInterval(PessoaCodigoServico, 20000);
	});




</script>