@{
	ViewData["Title"] = "Home Page";
}


<div class="row">

	<div class="col-md-3">
		<h2>Fácil Utilização</h2>
		<ul>
			<li>Geração de notas fiscais</li>
			<li>Acessos a documentação da empresa</a></li>
			<li>Atualização de dados cadastrais</li>
			<li>Imposto de Renda</li>
			<li>Relatórios</li>
		</ul>
	</div>
	<div class="col-md-3">
		<h2>Visão geral</h2>
		<ul>
			<li>Nossas ferramentas automatiza diversos processo de sua empresa.</a></li>
			<li>Tudo feito com descrição e segurança.</a></li>
			<li>Serviso de alertas e informativos</li>
			<li>Total redução de custos para sua empresa.</li>
			<li>Extremante fácil a ultização dos recursos.</li>
		</ul>
	</div>
	<div class="col-md-3">
		<h2>Disponibilidade</h2>
		<ul>
			<li>Suporte 24 horas online.</li>
			<li>Suas solicitações atenditas num menor prazo.</li>
		</ul>
	</div>
</div>
