
@{
	ViewData["Title"] = "Emissão";
}

<h4>Nota Fiscal</h4>


<div class="row">
	<div class="col-sm-12">
		<a href="@Url.Action("DadosNotaFiscal","Emissao")" class="btn btn-info btn-lg">Informar faturamento</a>
		<a href="@Url.Action("","Emissao")" class="btn btn-info btn-lg">Emitir uma Nfe</a>
	</div>
</div>

